[access]
	inheritFrom = All-Projects
[project]
	description = Mapper to process files from DR and transform to VES
[access "refs/heads/*"]
	owner = group ldap/onap-gerrit-dcaegen2-services-pm-mapper-committers
[access "refs/*"]
	owner = group ldap/onap-gerrit-dcaegen2-services-pm-mapper-committers
	read = group GitHub Replication
[access "refs/for/refs/heads/el-alto"]
	push = block group Registered Users
